:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-bg-color: #ffffff;
  --footer-bg-color: #2e2f42;
  --icons-color-active: #4d5ae5;
  --social-icon-bg-color: #4d5ae5;
  --social-icon-color-active: #f4f4fd;
  --social-icon-color: #8e8f99;
  --customers-icon-color: #8e8f99;
  --navy-blue-modal: #2e2f4266;
  --modal-background: #fcfcfc;
  --modal-close-btn: #2e2f42;
  --modal-cole-btn-bg: #e7e9fc;
  --active-page-bg: #404bbf;
  --overlay-bg: #4d5ae5;
  --overlay-text-color: #f4f4fd;
  --form-heading-color: #2e2f42;
  --form-label-color: #8e8f99;
  --form-icon-color: #2e2f42;
  --checkbox-color: #4d5ae5;
  --checkbox-text-color: #8e8f99;
  --checkbox-policy-txt-color: #4d5ae5;
  --subscribe-text-color: #fff;
  --subscribe-btn-bg-color: #4d5ae5;
  --burger-menu-color: #2e2f42;
  --menu-close-btn-bg: #fff;
  --menu-close-btn-border: #2e2f42;
  --menu-text-color: #2e2f42;
  --menu-text-color-active: #404bbf;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* General styles */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: background-color, color var(--transition);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0, auto;
}

/* .section {
  padding: 94px, 0;
} */

/* Mobile menu */
.js-menu-container {
  display: none;
}
.js-menu-container.is-open {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  /* z-index: 1; */
  width: 100%;
  height: 100%;
}
.burger-menu-btn {
  color: var(--burger-menu-color);
  display: inline-block;

  margin-right: 16px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: var(--modal-close-btn);
  background-color: var(--menu-close-btn-bg);
  border-color: var(--menu-close-btn-border);
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  margin-bottom: 24px;
  cursor: pointer;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 70px;
}
.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--menu-text-color);
}
.menu-nav a:hover {
  color: var(--menu-text-color-active);
  transition: transform var(--transition);
}
.menu-contacts-section {
  display: flex;
  flex-direction: column;
  margin-left: 40px;

  position: relative;
}
.menu-contacts-social-wrap {
  position: absolute;
  bottom: 0;
}
.menu-contact-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 40px;
  color: var(--menu-text-color);
}
.menu-contact-phone:hover {
  color: var(--menu-text-color-active);
  transition: transform var(--transition);
}
.menu-contact-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: var(--menu-text-color);
}
.menu-contact-mail:hover {
  color: var(--menu-text-color-active);
  transition: transform var(--transition);
}
.menu-icons-list {
  display: flex;
  gap: 56px;
  margin-top: 16px;
  justify-content: center;
}
.menu-icons-list .menu-social-icon svg {
  width: 24px;
  height: 24px;
}
.menu-contacts-social {
  display: flex;
  flex-direction: column;
}
.menu-icons-list .menu-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-icon-color);
}
.menu-icons-list .menu-social-icon:hover,
.menu-icons-list .menu-social-icon:active {
  background-color: var(--social-icon-bg-color);
  color: var(--social-icon-color-active);
}

/* Header section */
.global-header {
  padding: 24px, 0;
}
.header-section {
  margin-top: 0;
  padding-top: 24px;
  padding-bottom: 22px;
  justify-content: space-around;
  border-bottom: 1px solid #e7e9fc;
}
/* Logo */
.logo::before {
  content: "WEB";
  color: #4d5ae5;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #2e2f42;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  margin-left: 16px;
}
/* Nav section */
.main-nav {
  display: none;
}
.main-nav a,
.main-nav a:visited {
  color: var(--primary-text-color);
}
.main-nav a:hover {
  color: #404bbf;
  text-decoration: none;
}
.main-nav .nav-list {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin-right: 100px;
}
.main-nav .nav-link {
  position: relative;
  padding-bottom: 20px;
}
.main-nav .active-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-page-bg);
}
/* Contacts section */
.contacts-section {
  display: none;
}
.contacts-section .contact-mail {
  color: var(--secondary-text-color);
  margin-right: 40px;
}
.contacts-section .contact-mail:hover {
  color: #404bbf;
}

.contacts-section .contact-phone {
  color: var(--secondary-text-color);
}
.contacts-section .contact-phone:hover {
  color: #404bbf;
}

/* Hero section */
.hero-section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 600px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-section-office.png");
  background-size: cover;
  background-position: center;
}

.hero-section .hero-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: #fff;
}

/* Modal */
.is-hidden {
  visibility: hidden;
  scale: 1.05;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--navy-blue-modal);
  transition: transform var(--transition);
}
.modal-content {
  position: relative;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 408px;
  height: 584px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: var(--modal-close-btn);
  background-color: var(--modal-cole-btn-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-style: none;
  margin-bottom: 24px;
  cursor: pointer;
}
.modal-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--form-heading-color);
  margin-top: 40px;
  margin-bottom: 16px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}
.form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.form-input:focus + .form-icon {
  color: #4d5ae5;
}
.form-icon {
  position: absolute;
  padding: 3px 0px;
  width: 18px;
  height: 24px;
  top: calc(50%);
  left: 16px;
  color: var(--form-icon-color);
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.form-group .form-input {
  left: 0.5rem;
  padding-left: 2.5rem;
}
.form-label {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--form-label-color);
}

.form-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
}
.form-textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}
.agree-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.agree-check .checkmark {
  appearance: none;
}
.agree-check .check-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: none;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
}
.agree-check .checkmark:focus + .check-icon,
.agree-check .checkmark:checked:focus + .check-icon {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}
.agree-check .checkmark:checked + .check-icon {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
  fill: var(--checkbox-color);
  outline: none;
  stroke: var(--checkbox-color);
  stroke-width: 0.2;
}
.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--checkbox-text-color);
}
.check-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--checkbox-policy-txt-color);
}
.modal-send-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-style: none;
}
.modal-send-btn:hover {
  background-color: #404bbf;
  transform: scale(1.05);
  transition: background-color var(--transition);
}

/* First section */

.first-section-list {
  display: none;
}

/* What are we doing */
.second-section-list {
  display: none;
}
.second-section-title {
  display: none;
}
/* Team section */
.team-section {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}
.team-section h2 {
  margin-bottom: 72px;
}
.team-section .team-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-card {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-section .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-transform: capitalize;
  text-align: center;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-top: 32px;
  margin-bottom: -10px;
}
.team-section .team-member-position {
  font-size: 16px;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-icons-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.team-icons-list .team-social-icon svg {
  width: 16px;
  height: 16px;
}
.team-icons-list .team-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-icon-color);
}
.team-icons-list .team-social-icon:hover,
.team-icons-list .team-social-icon:active {
  background-color: var(--icons-color-active);
  color: var(--social-icon-color-active);
}
/* Customers-section */
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
  /* width: 1440px; */
}
.customers-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-text-color);
}
.customers-section .customers-icons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
  justify-content: center;
}
.customers-icons-list .customers-icons svg {
  width: 104px;
  height: 56px;
}
.customers-icons-list .customers-icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--customers-icon-color);
  transition: color var(--transition);
}

.customers-icons:hover {
  color: var(--icons-color-active);
  border-color: var(--icons-color-active);
  transform: scale(1.05);
}

/* Footer section */
.logo-footer::before {
  content: "WEB";
  color: #4d5ae5;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-section-style {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--footer-bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-item {
  box-sizing: content-box;
  padding-left: 56px;
}

.footer-section .footer-text {
  color: #f4f4fd;
}
.footer-section-social-links {
  box-sizing: content-box;
  margin-left: 80px;
}
.footer-section-social-links p {
  font-weight: 500;
  color: #fff;
}

.footer-icons-list {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  justify-content: center;
}
.footer-icons-list .footer-social-icon svg {
  width: 24px;
  height: 24px;
}
.footer-icons-list .footer-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-icon-color);
}
.footer-icons-list .footer-social-icon:hover,
.footer-icons-list .footer-social-icon:active {
  background-color: var(--social-icon-bg-color);
  color: var(--social-icon-color-active);
}
.subscribe-item {
  padding-left: 40px;
}
.subscribe-text {
  font-weight: 500;
  color: var(--subscribe-text-color);
}

.subscribe-group {
  position: relative;
  margin: 16px, 0;
}
.subscribe-label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--subscribe-text-color);
  pointer-events: none;
  transition: 0.5s;
}
.subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
  outline: none;
  color: #fff;
}
.subscribe-group input:focus ~ label,
.subscribe-group input:valid ~ label {
  top: 0;
  font-size: 12px;
  background: var(--footer-bg-color);
}
/* Button section */
.hero-section .hero-button {
  box-sizing: block;
  margin: auto;

  height: 50px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  border-style: none;
  transition: background-color var(--transition);
}
.hero-section .hero-button:hover {
  background-color: #404bbf;
  transform: scale(1.05);
}
.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
  gap: 24px;
}
.filter-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  height: 48px;
  background: #f4f4fd;
  cursor: pointer;
  border-style: none;
  transition: background-color var(--transition);
}

.button-section .filter-button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: #404bbf;
  color: #fff;
  transform: scale(1.05);
}

.subscribe-btn {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: var(--subscribe-btn-bg-color);
  display: flex;
  justify-content: center;
  margin-left: 24px;
  cursor: pointer;
  border-style: none;
}
.subscribe-btn:hover {
  background-color: #404bbf;
  transform: scale(1.05);
  transition: background-color var(--transition);
}

.subscribe-btn-text {
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.subscribe-btn-icon {
  width: 24px;
  height: 24px;
  color: #fff;
  margin-left: 16px;
}

/* Pictures section */
.picture-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}
.picture-section-card {
  border: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
  background: var(--primary-bg-color);
  overflow: hidden;
  transition: transform var(--transition);
}
.picture-section-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transform: scale(1.05);
}
.picture-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-left: 16px;
}
.picture-section-text {
  color: var(--secondary-text-color);
  margin-left: 16px;
}
.overlay-image {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0px;
  width: 360px;
  height: 300px;
  padding: 40px 32px;
  background-image: url(../images/overlay-iris-color.jpg);
  transform: translateY(105%);
  transition: transform var(--transition);
}
.overlay-image:hover .overlay {
  transform: translateY(0px);
  cursor: pointer;
}
.overlay-text {
  color: var(--overlay-text-color);
}

@media screen and (min-width: 768px) {
  .main-nav {
    font-weight: 500;
    display: flex;
  }
  .contacts-section {
    display: flex;
    flex-direction: column;
  }
  .contacts-section .contact-mail {
    color: var(--secondary-text-color);
  }
  .contacts-section .contact-mail:hover {
    color: #404bbf;
  }

  .contacts-section .contact-phone {
    color: var(--secondary-text-color);
  }
  .contacts-section .contact-phone:hover {
    color: #404bbf;
  }
  .burger-menu {
    display: none;
  }
  .header-section {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-around;
    border-bottom: 1px solid #e7e9fc;
  }
  .hero-section .hero-title {
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 30px; */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
  }
  .burger-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    width: 100%;
  }
  .contacts-section {
    display: flex;
    flex-direction: row;
  }
  .first-section-list {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    gap: 24px;
  }
  .first-section-icons {
    width: 64px;
    height: 64px;
  }
  .first-section-icons-list {
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-social-icon:hover .first-social-icon:active {
    color: var(--icons-color-active);
  }
  .first-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: -8px;
  }
  .first-section-text {
    color: var(--secondary-text-color);
  }
  .first-section-text-list {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    gap: 24px;
  }
  .second-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
  }
  .second-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-text-color);
    padding-bottom: 72px;
  }
  .subscribe-form {
    display: flex;
  }
}
@media (max-width: 767px) {
  .first-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-text-color);
  }
  .first-section-text {
    font-weight: 500;
    color: var(--secondary-text-color);
  }
  .first-section-text-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    gap: 24px;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1157px) {
  .first-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-text-color);
  }
  .first-section-text {
    font-weight: 500;
    color: var(--secondary-text-color);
  }
  .first-section-text-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
    flex-wrap: wrap;
    padding-bottom: 120px;
    gap: 24px;
  }
  .subscribe-form {
    display: flex;
  }
}