:root {
    --blue-color: #4d5ae5;
    --button-background-color: #4d5ae5;
    --button-color: #404bbf;
    --primary-color: #2e2f42;
    --logo-color: #4d5ae5;
    --hover-links-color: #2042db;
    --slate: #434455;
    --social-icon-color: #8e8f99;
    --border-color: #e7e9fc;
    --cloud: #f4f4fd;
    --primary-color-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.702);
    --color-white: #fff;
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /* General settings */
  body {
    font-family: var(--font-family);
    color: var(--primary-color);
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  .section {
    padding: 94px 0;
  }
  
  a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  svg {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /* Information about Top Line */
  .top-line {
    background: var(--color-white);
    border-bottom: 1px solid var(--border-color);
    padding: 24px 0;
  }
  
  .top-line a.active {
    color: var(--blue-color);
    border-bottom: 4px solid var(--blue-color);
    padding-bottom: 24px;
  }
  .top-line-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Information about logo */
  .logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: var(--logo-color);
  }
  
  .logo:hover {
    transform: scale(1.05);
  }
  
  .logo::after {
    content: "STUDIO";
    color: var(--primary-color);
  }
  
  /* Information about Nav Bar */
  .navbar-list {
    display: flex;
    gap: 40px;
    margin-right: 100px;
  }
  
  .navbar-list-item {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  
  .navbar-list-item:hover,
  .navbar-list-item:focus {
    color: var(--hover-links-color);
  }
  
  /* Information about Contacts in Nav-Bar */
  .contact {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-left: 100px;
  }
  
  .contact a {
    color: var(--slate);
  }
  
  .contact a:hover,
  .contact a:focus {
    color: var(--hover-links-color);
  }
  
  /* Information about buttons with filtres */
  .filters-section {
    padding-top: 94px;
  }
  
  .filters-section-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    white-space: nowrap;
  }
  
  .btn-filtres {
    padding: 12px 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--cloud);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--button-background-color);
  }
  
  .btn-filtres:hover {
    color: var(--color-white);
    background: var(--button-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  .btn-filtres:hover,
  .btn-filtres:focus {
    transform: scale(1.05);
    transition: var(--transition);
  }
  
  /* Information about Rows */
  .section-row-list {
    display: flex;
    justify-content: space-between;
  }
  
  /* Information about Cards */
  .project-card {
    border: 1px solid var(--border-color);
    background: var(--color-white);
    transition: var(--transition);
  }
  
  .project-card:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    scale: 1.015;
    cursor: pointer;
  }
  
  .project-card-info {
    display: flex;
    flex-direction: column;
    margin: 32px 0 32px 16px;
  }
  
  .project-card-info h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  
  .project-card-info span {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
  
  .img-overlay {
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 360px;
    width: 360px;
    position: absolute;
    background-color: var(--blue-color);
    transform: translateY(101%);
    transition: transform var(--transition);
  }
  
  .overlay-text {
    width: 300px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    padding-bottom: 180px;
  }
  
  .img-overlay:hover .overlay {
    transform: translateY(0px);
  }
  
  /* Information about Footer section */
  .footer-section {
    background: var(--primary-color);
    padding: 100px 0;
  }
  
  /* Information about Footer Logo */
  .footer-logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: var(--logo-color);
  }
  
  .footer-logo::after {
    content: "STUDIO";
    color: var(--cloud);
  }
  
  .footer-section-logo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 264px;
  }
  
  .footer-section-logo p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
  }
  
  /* Information about style footer */
  .footer-section-style {
    display: flex;
    gap: 120px;
  }
  
  /* Information about Social links */
  .footer-social-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .footer-social-links-list {
    display: flex;
    justify-content: space-between;
    width: 208px;
  }
  
  /* Information about Footer svg */
  .footer-icon svg {
    width: 24px;
    height: 24px;
    color: var(--social-icon-color);
  }
  
  .footer-icon svg:hover,
  .footer-icon svg:active {
    color: var(--color-white);
  }
  
  .footer-icon {
    width: 40px;
    height: 40px;
    background: var(--navy-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-icon:hover,
  .footer-icon:active {
    background: var(--blue-color);
    border-radius: 50%;
  }
  
  /* Information About Section Subscribe */
  .title-subscribe {
    color: var(--color-white);
    margin-bottom: 16px;
  }
  
  .footer-form {
    display: flex;
    flex-direction: column;
  }
  
  .footer-subscribe {
    display: flex;
  }
  
  .input-subscribe {
    border: 1px solid var(--color-white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: var(--navy-blue);
    color: var(--color-white);
    margin-right: 24px;
  }
  
  .input-subscribe::placeholder {
    color: var(--color-white);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
  }
  
  .btn-subscribe {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: var(--blue-color);
    cursor: pointer;
    position: absolute;
  }
  
  .icon-subscribe {
    position: relative;
    width: 24px;
    height: 24px;
    fill: var(--color-white);
    margin-left: 15px;
    cursor: pointer;
  }
  .js-menu-container {
    display: none;
  }
  
  .js-menu-container.is-open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-white);
    padding: 80px 35px 40px 40px;
    z-index: 1;
  }
  .mobile-menu-navbar {
    display: flex;
  }
  .js-close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: var(--blue-color);
    background-color: var(--cornflower);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-style: none;
    margin-bottom: 24px;
  }
  
  .js-close-menu:hover {
    color: var(--ocean);
    background-color: var(--color-white);
    cursor: pointer;
  }
  
  .mobile-menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .mobile-navbar-list-item {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
  }
  
  .mobile-navbar-list-item:hover {
    color: var(--ocean);
  }
  
  .mobile-menu-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 284px;
    margin-bottom: 48px;
  }
  
  .mobile-menu-contact a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: font-size var(--transition), color var(--transition);
  }
  
  .mobile-menu-contact a:hover {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--blue-color);
  }
  
  .mobile-social-links-list {
    display: flex;
    gap: 56px;
  }
  /* Stiliare pentru tableta */
@media screen and (min-width: 768px) {
  .navbar-list {
    display: flex;
    gap: 40px;
    margin-right: 100px;
  }
  .contact {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  .burger-menu {
    display: none;
  }

  .js-open-menu {
    display: none;
  }
  

  .section-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin: 0 auto;
  }

  .hero-section h1 {
    width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
  }

  .icon-benefit-background {
    width: 264px;
    height: 112px;
    background: var(--cloud);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .section-list-item {
    display: flex;
    flex-direction: column;
    width: 264px;
    justify-content: space-between;
  }

  .section-list-item h3 {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
  }

  .section-list-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--list-item-color);
    text-align: start;
  }

  .what-are-we-doing {
    display: none;
  }

  .benefits-with-two-columns {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 736px;
  }
  .our-team-two-columns {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 768px;
    margin: auto;
    gap: 24px;
  }

  .customers-with-two-columns {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 552px;
    gap: 7px;
  }
  .card {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer-section-style {
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    width: 768px;
    flex-direction: row;
    justify-content: center;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: row;
  }

  .footer-logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-align: start;
  }
  .footer-social-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 300px;
  }

  .input-subscribe {
    border: 1px solid var(--color-white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: var(--navy-blue);
    color: var(--color-white);
    margin-right: 24px;
  }

  .button-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

/* Stilizare pentru desktop */
@media screen and (min-width: 1158px) {
  .navbar-list {
    display: flex;
    gap: 40px;
    margin-right: 100px;
  }
  .contact {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 100px;
  }
  .burger-menu {
    display: none;
  }
  .js-open-menu {
    display: none;
  }
  .section-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .hero-section h1 {
    width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
  }

  .icon-benefit-background {
    width: 264px;
    height: 112px;
    background: var(--cloud);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-list-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: start;
  }

  .section-list-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--list-item-color);
    text-align: start;
  }

  .what-are-we-doing {
    display: flex;
  }

  .card {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .benefits-with-two-columns {
    flex-wrap: nowrap;
    width: 1200px;
  }
  .customers-with-two-columns {
    flex-wrap: nowrap;
    width: 1200px;
  }

  .our-team-two-columns {
    flex-wrap: nowrap;
    width: 1200px;
  }

  .footer-section-style {
    display: flex;
    gap: 120px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 1440px;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: row;
  }

  .footer-logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-align: start;
  }

  .footer-social-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .input-subscribe {
    border: 1px solid var(--color-white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: var(--navy-blue);
    color: var(--color-white);
    margin-right: 24px;
  }

  .button-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}